<div class="row m-5">
    <h1>Contact</h1>
    <p>Al término del curso, podréis recibir asesoría de carrera si así lo solicitáis: trabajaréis vuestros perfiles
        profesionales y CV, y podréis simular entrevistas personales y técnicas. Todo esto ocurrirá al finalizar el
        curso, por lo que es importante que os guardéis un mesecito después del curso antes de inventar planes
        adicionales :guiño:. Os prometemos que será una sabia decisión.</p>
    <div class="d-flex">
        <div class="col-md-4"></div>
        <div class="card col-md-4" style="background-color: azure;">
            <div class="m-5">
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label col-md-3">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlTextarea1" class="form-label col-md-3">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="agregue un comentario aquí"></textarea>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>