<div class="row m-5">
    <h1>Portfolio</h1>
    <p>Al término del curso, podréis recibir asesoría de carrera si así lo solicitáis: trabajaréis vuestros perfiles
        profesionales y CV, y podréis simular entrevistas personales y técnicas. Todo esto ocurrirá al finalizar el
        curso, por lo que es importante que os guardéis un mesecito después del curso antes de inventar planes
        adicionales :guiño:. Os prometemos que será una sabia decisión.</p>
    <div class="d-flex justify-content-center">
        <div class="card1 m-1" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/JCl5ohdEtv8/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAgdzQ5T_dXdOhdFJtMs0bI4JaZ5Q"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">David Corenswet</h5>
                <p class="card-text">El último actor en interpretar a Superman en una película de acción real es David Corenswet. Él ha sido elegido para el papel de Clark Kent/Superman en la próxima película titulada "Superman", dirigida por James Gunn, que está programada para estrenarse el 11 de julio de 2025.</p>
            </div>
        </div>
        <div class="card2 m-1" style="width: 18rem;">
            <img src="https://media.revistagq.com/photos/5dc5353fd19dec0008a429e7/16:9/w_1280,c_limit/Henry-Cavill-Superman.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" class="primary">Henry Cavill</h5>
                <p class="card-text">La salida de Henry Cavill del papel de Superman ha sido un tema de mucho debate y ha estado rodeada de cierta controversia. Aunque hubo rumores y expectativas sobre su regreso, especialmente después de su cameo en "Black Adam", finalmente se confirmó que no continuaría en el papel.</p>
            </div>
        </div>
        <div class="card3 m-1" style="width: 18rem;">
            <img src="https://media.revistagq.com/photos/643ffd0043b7dde5906f2d7e/master/pass/904934.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kal-El</h5>
                <p class="card-text">Superman, cuyo nombre kryptoniano es Kal-El, nació en el planeta Krypton. Sus padres, Jor-El y Lara Lor-Van, al prever la destrucción de su planeta, lo enviaron a la Tierra en una nave espacial. Fue encontrado y criado por Jonathan y Martha Kent en Smallville, Kansas, quienes le inculcaron fuertes valores morales.</p>
            </div>
        </div>
    </div>

</div>