<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
            <img class="w-75 h-75 rounded-circle"
                src="https://img.asmedia.epimg.net/resizer/v2/INW3ODRICVFQJDYY5XCQL5DFRA.jpg?auth=086db0db35450442562f1f9f30696241e08ae1771ee9f6a3e26b9b4779a8d681&width=1472&height=1104&smart=true"
                alt="">
        </div>
        <div class="col-md-4 col-sm-12">
            <h1>Todos los Superman de Live Action</h1>
            <p>Desde George Reeves en las décadas de 1950, Christopher Reeve definió al héroe en los icónicos filmes de
                finales de los 70 y 80. Le siguió Dean Cain en la serie de TV de los 90, con Tom Welling explorando los
                años de juventud del héroe en "Smallville". Finalmente, Henry Cavill y David Corenswet han asumido el
                manto en las adaptaciones cinematográficas más recientes.</p>
        </div>
    </div>
</div>